*{
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

  html, body {
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to bottom, #DFC5FE, #8A2BE2);
  }
  body {
    overflow-y: scroll; /* Allows vertical scrolling within the body */
    
  }
  html {
    scroll-behavior: smooth;
  }


.carousel-container {
display: flex;
justify-content: center; /* Centers the carousel items horizontally */
align-items: center;    /* Centers the carousel items vertically */
width: 215px; /* Adjust width for the carousel */
height: 20vh;
max-width: 215px;
transform-style: preserve-3d;
position: relative;
margin: auto; /* Ensures proper centering */
}


.carousel-item {
display: flex;
justify-content: center; /* Centers the carousel items horizontally */
align-items: stretch;
position: absolute;
width: 100%;
max-width: 175px;
height: 100%;
background: white ; /*#DFC5FE   8A2BE2*/
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
transition: transform 0.5s ease-in-out;
transform-origin: center center; /* Ensure rotation happens around the center */
}

@media (max-width: 640px) {
  .carousel-container {
    display: flex;
    justify-content: center; /* Centers the carousel items horizontally */
    align-items: center;    /* Centers the carousel items vertically */
    width: 40vw; /* Adjust width for the carousel */
    height: 20vh;
    transform-style: preserve-3d;
    position: relative;
    margin: auto; /* Ensures proper centering */
    }
    
    
    .carousel-item {
    display: flex;
    justify-content: center; /* Centers the carousel items horizontally */
    align-items: stretch;
    position: absolute;
    width: 100%;
    max-width: 200px;
    height: 100%;
    background: white ; /*#DFC5FE   8A2BE2*/
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-in-out;
    transform-origin: center center; /* Ensure rotation happens around the center */
    }
}